{{ define "main" }}

<h1>
    {{ .Title }}
</h1>
<p class="padded-text">
    {{.Description}}
</p>

<div id="blog-list">

    {{ range .Pages.ByPublishDate.Reverse }}
    {{ $time := .ReadingTime }}
    
    <a href="{{ .RelPermalink }}"> 
    <div class="blog-element">
        <div class="blog-left">
            {{ $dateTime := .PublishDate.Format "2006-01-02" }}
            {{ $dateFormat := .Site.Params.dateFormat | default "Jan '06" }}
            <p class="no-margin">
                <time datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time>
            </p>
        </div>
        <div>
            <p class="no-margin">
                    {{ delimit (.Params.categories) ", " }}
                    •
                    {{ $time }} min
                  
                </p>
                    
                <h2 class="blog-title">{{ .Title }}</h2>
        </div>
    </div>
    </a>
    

    {{ end }}

</div>




{{ end }}