{{ define "main" }}
<div id="blog-page">
{{ $time := .ReadingTime }}
<h1>{{ .Title }}</h1>

{{ if isset .Params "outdated" }}
<div id="outdated">
    <p>Warning: This article is <b>outdated</b>. Certain details might not be up to date.</p>
</div>
{{ end }}

<p>{{ .Params.Description }}</p>
{{ $dateTime := .PublishDate.Format "2006-01-02" }}
{{ $dateFormat := .Site.Params.dateFormat | default "January 2, 2006" }}

<h4 class="blog-time"><time datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time> 
    •
    {{ range $i, $e := .Params.categories -}}
    {{- if $i -}}, {{ end -}}
    {{ $href := print (absURL "categories/") (urlize .) }}
    <a class="" href="{{ $href }}">{{ . }}</a>&nbsp

    {{- end -}}
    •
    {{ $time }} minutes read

</h4>




{{ .Content }}

</div>

{{ $title := .Title }}
{{ $url := printf "%s" .Permalink | absLangURL }}
{{ $body := print $title ", by " .Site.Title "\n" .Params.description "\n\n" $url "\n" }}

<div id="social-icons-list">
    <h3>Share</h3>
    <div id="social-icons">
        <a href="http://twitter.com/share?url={{ $url }}&text={{ $title }}&via={{with .Site.Social.twitter }}{{ . }}{{ end }}"><i class="icon-twitter"></i></a>
        <a href="http://www.facebook.com/sharer.php?u={{ $url }}"><i class="icon-facebook-official"></i></a>
    </div>
</div>

<div class="">
    <h3>Continue reading</h3>
    <div class="next-post">
        {{ if .NextInSection }}
        <span>Next: <a class="link-reverse" href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Title | truncate 50 "..." }}</a></span>
        {{ end }}
    </div>

    <div class="previous-post">
        {{ if .PrevInSection }}
        <span>Previous: <a class="link-reverse" href="{{ .PrevInSection.Permalink }}">{{ .PrevInSection.Title | truncate 50 "..."}}</a></span>
        {{ end }}
    </div>
    <div>
        <br>
        <span><a href="{{ ref . "blog" }}">All entries...</a></span>
    </div>
</div>

<!-- <div> 
    <br>
    <span><b>Comments</b></span>


</div> -->

{{ end }}