#blog-list {
    padding-top: 30px;
    * {
        text-decoration: none;
        &:hover {
        //text-decoration: none;
        //color: $font-color-primary-light;
        }
    }
}

.blog-element {
    border-top: 1px solid $blend-color;//$off-white;
    padding: 25px 0;
    display: flex;

    @include for-phone-only {
        flex-direction: column;
    }

}

.blog-right {
    
}

.blog-left {
    padding-right: 100px;
    width:max-content;

}

.blog-time {
    padding-bottom: 40px;
}