.invert, .invert * {
    color: var(--color-background);
    background-color: var(--color-font-1);
}

span#dark-mode-toggle {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}