footer {
    bottom: 0 !important;
    height: $footer-height;
    margin-top: auto;
    position: relative;
    background-color: $bg-color-primary-light;
    text-align: center;
    //justify-content: center;
    width: 100%;
    justify-content: space-between;

}

#footer-logos {
    width: 100%;
    display: flex;
    justify-content: center;
}

#footer-logos-inner  {
    width: 160px;
    display: flex;
    justify-content: space-around;
}