footer {
    bottom: 0 !important;
    height: $footer-height;
    margin-top: auto;
    position: relative;
    //justify-content: center;
    width: 100%;
    align-items: center;
    display: flex;

}

#footer-logos {
    width: 100%;
    display: flex;
}

#footer-logos-inner  {
    width: 270px;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width:600px) {
        //flex-direction: column;
        width: 180px;
    }
}

#footer-copyright {
    position:absolute; 
    bottom:0; 
    padding-bottom: 10px; 

    * {
        color: var(--color-secondary);
    }
    
}