#home {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: calc(100vh - #{$header-height} - #{$footer-height} - 105px);
    margin-top: -50px;

    @media screen and (max-width: 390px)  {
        height: calc(100vh - #{$header-height} - #{$footer-height} - 135px);
    }
    
}

#cta-home {
    padding-bottom: 5px;
}