#outdated {
    background-color: var(--color-secondary);
    width: 100%;

    border-radius: $border-radius;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    justify-content: center;
    text-align: center;

    p {
        color: var(--color-font-1);
        margin: 20px 25px;
    }

    b {
        color: var(--color-font-1);
    }
}
