$inter-stack: Inter,
'Helvetica Neue',
Helvetica,
Arial,
Sans-Serif;
$playfair-stack: 'Playfair Display',
Baskerville,
'Times New Roman',
Times Serif;

.padded-text {
    padding-bottom: 1em;
}

ul {
    //margin: 5px 0;
    //padding-bottom: 10px;
}

li {
    //margin: 5px 0;
}

p,
h1,
h2,
h3,
h4,
h5,
a,
span,
li,
strong {
    font-family: $inter-stack;
    line-height: 1.5em;
}

p,
h1,
h2,
h3,
strong,
span,
li {
    color: $font-color-primary-light;
    ;

}

.highlight-ata {
    //color: $popout-color;

    color: $bg-color-primary-light;
    background-color: $font-color-primary-light;

    &:hover {
        cursor: pointer;
    }


}

p {
    margin-bottom: 1.5em;

    &.no-margin {
        margin: 0;
    }
}

a {
    color: $font-color-primary-light; //$link-color;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    //text-decoration-color: $blend-color;
}

p,
a,
li,
span {
    font-family: $inter-stack;
    //letter-spacing: -0.06em;
    font-weight: 300;
    font-size: 12pt;


}

h1 {
    font-family: $inter-stack;
    font-size: 28pt;
    font-weight: 600;

    padding: 1em 0;
    line-height: 1.2em;


}

h2 {
    font-family: $playfair-stack;
    font-size: 25pt;
    font-weight: 700;

    padding: 10px 0;
    line-height: 1.5em;



}

h3 {
    color: $font-color-primary-light;
    font-family: $inter-stack;
    font-size: 19pt;
    font-weight: 600;
    line-height: 1.2em;
    padding: 12px 0;



}

h4 {
    color: $font-color-primary-light;
    font-family: $playfair-stack;
    padding: 7px 0;
    font-weight: 700;
    font-size: 16pt;
    margin: 0;


}

h5 {
    color: $font-color-primary-light;
    font-family: $inter-stack;
    font-weight: 600;
    font-size: 12pt;
    margin: 0;

}

.padded-text {
    padding-bottom: 15px;
}

strong {
    font-weight: 600;
}

blockquote {
    border-left: 1px solid $blend-color;
    padding-left: 15px;
    margin-bottom: 1.5em;
    font-style: italic;
}

.highlight {
    border-radius: 9px;
    border-collapse: separate;
    overflow: hidden;
    perspective: 1px;
    margin-bottom: 20px;


    pre {
        overflow: scroll !important;


        &::-webkit-scrollbar {
            display: none;
            width: 0px;
            background: transparent;
        }
    }

    &::-webkit-scrollbar {
        display: none;
        width: 0px;
        background: transparent;
    }
}



pre {
    padding: 25px;
    border-radius: $border-radius;
    overflow: scroll !important;


}

code {
    font-size: 10pt;
    line-height: 1.5em;

    * {
        font-size: 10pt;
        line-height: 1.5em;
    }

    font-family: monospace,
    Consolas,
    "Andale Mono WT",
    "Andale Mono",
    "Lucida Console",
    "Lucida Sans Typewriter",
    "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono",
    "Liberation Mono",
    "Nimbus Mono L",
    Monaco,
    "Courier New",
    Courier,
    monospace !important;

    * {
        font-family: monospace, Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace !important;
    }
}