$inter-stack: Inter, "Helvetica Neue", Helvetica, Arial, Sans-Serif;

$playfair-stack: "Playfair Display", Baskerville, "Times New Roman", Times Serif;

$inconsolata-stack: "Inconsolata", monospace;

$fira-stack: "Fira Code", monospace;

.padded-text {
    padding-bottom: 1.5em;
}

ul {
    //margin: 5px 0;
    //padding-bottom: 10px;
}

li {
    //margin: 5px 0;
}

p,
h1,
h2,
h3,
h4,
h5,
a,
span,
li,
strong {
    font-family: $inter-stack;
    line-height: 1.5em;

    a {
        font-family: inherit;
    }
}

p,
h1,
h2,
h3,
strong,
span,
li {
    color: var(--color-font-2);
}

.highlight-ata {
    //color: $popout-color;

    color: var(--color-background);
    background-color: var(--color-font-1);

    &:hover {
        cursor: pointer;
    }
}

p {
    margin-bottom: 1.5em;

    &.no-margin {
        margin: 0;
    }
}

a {
    color: var(--color-font-1); //$link-color;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    //text-decoration-color: $blend-color;
}

p,
li,
span {
    font-family: $inter-stack;
    //letter-spacing: -0.06em;
    font-weight: 300;
    font-size: 15pt;

    a {
        font-size: inherit;
        font-family: inherit;
    }
}

h1 {
    color: var(--color-font-1);
    font-size: 30pt;
    font-weight: 600;

    padding: 2em 0;
    line-height: 1.2em;

    @media screen and (max-width: 600px) {
        padding: 1em 0;
    }
}

h2 {
    font-family: $inter-stack; //$playfair-stack;
    color: var(--color-font-1);
    font-size: 24pt;
    font-weight: 700;

    padding: 1.3em 0;
    line-height: 1.5em;
}

h3 {
    color: var(--color-font-1);
    font-family: $inter-stack;
    font-size: 19pt;
    font-weight: 600;
    line-height: 1.2em;
    padding: 12px 0;
}

h4 {
    color: var(--color-font-2);
    font-family: $inconsolata-stack;
    font-size: 13pt;
    margin: 0;
    font-weight: normal;
}

h5 {
    color: var(--color-font-2);
    font-family: $inter-stack;
    font-weight: 600;
    font-size: 12pt;
    margin: 0;
}

strong {
    font-weight: 600;
    color: inherit;
}

blockquote {
    border-left: 1px solid var(--color-font-1);
    padding-left: 15px;
    margin-bottom: 1.5em;
    font-style: italic;

    * {
        color: var(--color-font-1);
    }
}

.highlight {
    border-radius: 9px;
    border-collapse: separate;
    overflow: hidden;
    perspective: 1px;
    margin-bottom: 20px;

    pre {
        overflow: scroll !important;

        &::-webkit-scrollbar {
            display: none;
            width: 0px;
            background: transparent;
        }
    }

    &::-webkit-scrollbar {
        display: none;
        width: 0px;
        background: transparent;
    }
}

pre {
    padding: 25px;
    border-radius: $border-radius;
    overflow: scroll !important;
}

code {
    font-size: 11pt;
    line-height: 1.5em;

    * {
        font-size: 11pt;
        line-height: 1.5em;
    }

    font-family: $fira-stack !important;

    * {
        font-family: $fira-stack !important;
    }
}

i {
    font-size: 16pt;
}
