//Colors
$navy: rgb(4, 23, 59);
$yellow: #FFF28B;
$red: #f54b4b;
$white: #ffffff;
$off-white: rgb(173, 173, 173);
$grey: rgb(130, 139, 157);

//Color schemes

//Light theme
$bg-color-primary-light: $white;
$font-color-primary-light: $navy;

//Dark theme
$bg-color-primary-dark: $navy;
$font-color-primary-dark: $white;

$blend-color: $grey;

$link-color: $navy;

$popout-color: $yellow;

//Transitions
$dark-transition: background-color 0.2s linear;

//Sizes
$header-height: 50px;

$footer-height: 75px;

$rect-height: 250px;
$rect-width: 320px;

//Paddings
$side-page-padding: 10px;

$border-radius: 10px;