//Colors
$navy: rgb(4, 23, 59);
$yellow: #fff28b;
$red: #f54b4b;
$white: #ffffff;
$off-white: rgb(173, 173, 173);
$light-grey: rgb(170, 170, 170);
$dark-grey: rgb(83, 83, 83);
$almost-black: rgb(19, 19, 19);

$randCol: rgb(random(255), random(255), random(255));
$randCol2: rgb(random(255), random(255), random(255));

// Radius
$border-radius: 10px;

:root {
    --color-background: #{$white};
    --color-secondary: rgb(224, 224, 224);
    --color-font-1: #{$almost-black};
    --color-font-2: #{$dark-grey};
    --color-font-3: #{lighten($dark-grey, 17%)};

    --side-padding: 120px;

    @media screen and (max-width: 800px) {
        --side-padding: 40px;
    }

    @media screen and (max-width: 550px) {
        --side-padding: 15px;
    }
}

.dark-theme {
    --color-background: #{$almost-black};
    --color-secondary: rgb(37, 37, 37);
    --color-font-1: #{$white};
    --color-font-2: #{$light-grey};
    --color-font-3: #{darken($light-grey, 17%)};
}

//$link-color: $navy;

$popout-color: $yellow;

//Transitions
$dark-transition: background-color 0.2s linear;

//Sizes
$header-height: 120px;

$footer-height: 200px;

$rect-height: 250px;
$rect-width: 320px;
