.vinyl-element {
    margin-bottom: 50px;
    display:flex;
    flex-direction: column;

    @include for-tablet-portrait-up {
       flex-direction: row;
    }
}

.vinyl-image {
    @include for-tablet-portrait-up {
        width: 170px;
        height: 170px;
        margin-left: 0;
        margin-right: 10px;
    }
}