#header {
    display: flex;
    justify-content: space-between;
    height: $header-height;
    align-items: center;

    

    * {
        color: $font-color-light;
        &:hover {
            @include hover-color($font-color-light);
        }
    }
}

#nav {
    * {
        padding-left: 25px;
        @include for-phone-only {
            padding-left:10px;
        }
        
    }
}

#header-title {
    font-weight: 600;
    letter-spacing: -0.01em;
}