#home {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: calc(90vh - #{$header-height});
    margin-top: -50px;
    
}

#cta-home {
    padding-bottom: 5px;
}