@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.left {
  float: left;
}

.right {
  float: right;
}

.width-100 {
  width: 100%;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #000118;
  min-width: 100%;
  min-height: 100%;
  margin: 0 0 150px;
  line-height: 1.3;
}

body::-webkit-scrollbar {
  width: 0px;
  background-color: #000118;
}

#content {
  padding-top: 50px;
  padding-bottom: 50px;
}

.side-padding {
  padding: 0 200px;
}

@media (max-width: 599px) {
  .side-padding {
    padding: 0 calc(200px - (0.90 * 200px));
  }
}

@media (min-width: 600px) {
  .side-padding {
    padding: 0 calc(200px - (0.70 * 200px));
  }
}

@media (min-width: 1200px) {
  .side-padding {
    padding: 0 200px;
  }
}

@media (min-width: 1800px) {
  .side-padding {
    padding: 0 calc(200px + (0.6 * 200px));
  }
}

p, h1, h2, h3, h4, h5, a, span, li, strong {
  font-family: Inter, Helvetica Neue, Helvetica Neue Light, Arial, Sans-Serif;
}

p, h1, h2, h3, strong {
  color: #FFFFFF;
}

.highlight-yellow {
  color: #FFF28B;
}

a {
  color: #f54b4b;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p, a, li {
  font-family: Inter, Helvetica Neue, Helvetica Neue Light, Arial, Sans-Serif;
  letter-spacing: -0.06em;
  font-weight: 300;
  font-size: 12pt;
}

h1 {
  font-family: Inter, Helvetica Neue, Helvetica Neue Light, Arial, Sans-Serif;
  font-size: 25pt;
  font-weight: 600;
  letter-spacing: -0.01em;
}

h2 {
  font-family: Inter, Helvetica Neue, Helvetica Neue Light, Arial, Sans-Serif;
  font-size: 20pt;
  font-weight: 300;
  letter-spacing: -0.01em;
}

h3 {
  color: #FFFFFF;
  font-family: Inter, Helvetica Neue, Helvetica Neue Light, Arial, Sans-Serif;
  font-size: 10pt;
  font-weight: 400;
  letter-spacing: -0.01em;
}

.padded-text {
  padding-bottom: 15px;
}

strong {
  font-weight: 600;
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header a {
  color: #FFFFFF;
  text-decoration: none;
}

#header a:hover {
  text-decoration: underline;
}

#nav * {
  padding-left: 25px;
}

@media (max-width: 599px) {
  #nav * {
    padding-left: 10px;
  }
}

#header-title {
  font-weight: 600;
  letter-spacing: -0.01em;
}

footer {
  bottom: 0;
  padding: 20px 0;
  position: fixed;
  background-color: #000118;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: calc(90vh - 50px);
  margin-top: -50px;
}

#cta-home {
  padding-bottom: 5px;
}

#list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 599px) {
  #list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.rect-link {
  margin-bottom: 30px;
}

.rect-link:hover {
  text-decoration: none;
}

.rect {
  height: 250px;
  width: 320px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
}

@media (min-width: 1200px) {
  .rect {
    height: calc(250px * 1.5);
    width: calc(320px * 1.5);
  }
}

@media (min-width: 1800px) {
  .rect {
    height: calc(250px * 1.9);
    width: calc(320px * 1.9);
  }
}

@media (max-width: 599px) {
  .rect {
    width: 100%;
    height: 400px;
  }
}

.img-wrapper {
  height: 80%;
}

.text-wrapper {
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.thumb {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=style.css.map */