{{ define "main" }}
<div id="home">
  {{ $diff := now.Sub (time "2002-03-07") }}
  {{ $years := div (div $diff.Hours 24) 365 }}
  {{ $years := math.Floor $years }}

  <h1>Hi, I'm <span id="dark-mode-toggle" class="highlight-ata">Amar</span>.</h1>
  <p>I'm {{ $years }} years old and based in <a href="https://en.wikipedia.org/wiki/Basel">Basel, Switzerland</a>.</p>

  <p>I am currently open for work opportunities. If you are interested, feel free send me a <a href="mailto:tabakovicamar1@gmail.com">mail</a>.</p>

<p>In my free time I like to play the bass and guitar. Additionally, I have a keen interest in watches, <a href="/vinyl">vinyl</a> and mechanical keyboards.</p>

<p><a href="blog">Blog</a>

<p><a href="cv">CV</a></p>

<p><a href="uses">Uses</a>
 
</div>
{{ $built := resources.Get "js/home.js" | resources.Minify }}

<script type="text/javascript" src="{{ $built.RelPermalink }}" defer></script>

{{ end }}
