{{ define "main" }}

<h1>
    {{ .Title }}
</h1>

<div id="blog-list">

    {{ range .Pages.ByPublishDate.Reverse }}
    {{ $time := .ReadingTime }}
    
    <a href="{{ .RelPermalink }}"> 
    <div class="blog-element">
        
            {{ $dateTime := .PublishDate.Format "2006-01-02" }}
            {{ $dateFormat := .Site.Params.dateFormat | default "Jan '06" }}

            <h4 class="no-margin">
                <time datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time>
                •
                    {{ delimit (.Params.categories) ", " }}
                    •
                    {{ $time }} min
                  
            </h4>
                    
                <h2 class="blog-title">{{ .Title }}</h2>

                
        
    </div>
    </a>
    

    {{ end }}

</div>




{{ end }}