<head class="no-js">
  <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

  {{ $built := resources.Get "js/toggleDarkTheme.js" | resources.Minify }}

  <script type="text/javascript" src="{{ $built.RelPermalink }}" defer></script>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ partial "seo_schema" . }}

    {{ $title := print .Site.Title " | " .Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}

    <title itemprop="name">{{ $title }}</title>
    <meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}" />
    <meta name="twitter:title" content="{{ .Title }} | {{ .Site.Title }}" />
    <meta itemprop="name" content="{{ .Title }} | {{ .Site.Title }}" />
    <meta name="application-name" content="{{ .Title }} | {{ .Site.Title }}" />
    <meta property="og:site_name" content="{{ .Site.Params.sitename }}" />

    <meta name="description" content="{{ .Params.description }}" />
    <meta itemprop="description" content="{{ .Params.description }}" />
    <meta property="og:description" content="{{ .Params.description }}" />
    <meta name="twitter:description" content="{{ .Params.description }}" />

    <base href="{{ .Permalink }}">
    <link rel="canonical" href="{{ .Permalink }}" itemprop="url" /> 
    <meta name="url" content="{{ .Permalink }}" />
    <meta name="twitter:url" content="{{ .Permalink }}" /> 
    <meta property="og:url" content="{{ .Permalink }}" />

    <meta property="og:locale" content="{{ .Language.Lang }}" />
    <meta name="language" content="{{ .Language.LanguageName }}" />

    <meta property="og:updated_time" content={{ .Lastmod.Format "2006-01-02T15:04:05Z0700" | safeHTML }} />

    <link rel="sitemap" type="application/xml" title="Sitemap" href='{{ "sitemap.xml" | absURL }}' />

    <meta name="keywords" content={{ .Params.Keywords }} >

    <link rel="icon" 
      type="image/png" 
      href="favicon.png">

      <!--<script src="https://kit.fontawesome.com/81eea3e2d3.js" crossorigin="anonymous"></script>-->

    {{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" type="text/css" href="{{ $style.Permalink }}">



    {{ $webfont := resources.Get "/css/fontello.css" | resources.Minify | resources.Fingerprint  }}

    <link rel="stylesheet" href="{{ $webfont.RelPermalink }}" >

    <style type="text/css">
      .no-js {
        visibility: hidden;
        opacity: 0;
        }

        .js {
        visibility: visible;
        opacity: 1;
        }
    </style>
    


</head>