{{ define "main" }}
<h1>{{ .Title }}</h1>


<p class="padded-text">{{ .Params.Description }}</p>
<p class="blog-time">{{ .Params.Category }}
    • 
    {{ $dateTime := .PublishDate.Format "2006-01-02" }}
    {{ $dateFormat := .Site.Params.dateFormat | default "2006" }}
    
    <time datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time> 
    </p>
{{ $link := .Permalink }}
{{ with .Params.Featured_Image }}
{{ $image := . }}
<img loading="lazy" style="padding-bottom: 70px;"
    src="{{$link}}{{$image}}"
>
{{ end }}




{{ .Content }}
{{ end }}