footer {
    bottom: 0;
    height: $footer-height;
    position: fixed;
    background-color: $bg-color-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    -webkit-backface-visibility: hidden;
}

#footer-logos {
    display: flex;
    width: 200px;
    justify-content: space-around;
    
}