#header {
    display: flex;
    justify-content: space-between;
    height: $header-height;
    align-items: center;

    

    * {
        color: $font-color-light;
        &:hover {
            @include hover-color($font-color-light);
        }
    }
}

#nav {
    * {
        padding-left: 25px;
        
    }
}
