#list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include for-phone-only {
        justify-content: center;
    }


}

.rect-link {
    margin-bottom: 30px;

    &:hover {

        text-decoration: none;

    }

    @include for-phone-only {
        width:100%;
        height: 400px;
        
    }
}



.rect {
    //background-color: $white;
    height: $rect-height;
    width: $rect-width;
    flex: 0 0 30%;



    * {
       // color: $navy;
    }

    @include for-desktop-up {
        height: calc(#{$rect-height} * 1.4);
        width: calc(#{$rect-width} * 1.4);
    }

     @include for-big-desktop-up {
        height: calc(#{$rect-height} * 1.7);
        width: calc(#{$rect-width} * 1.7);
    }

    @include for-phone-only {
        width:100%;
        height: 400px;
        
    }
}

.img-wrapper {
    height: 80%;
    //width: 100%;
}

.text-wrapper {
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    
}

.thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}