//Colors
$navy: #000118;
$yellow: #FFF28B;
$red: #F56868;
$white: #FFFFFF;

//Color schemes
$bg-color-primary: $navy;

$font-color-light: $white;

$link-color: $red;

//Sizes
$header-height: 50px;

//Paddings
$side-page-padding: 100px;