//Colors
$navy: #000118;
$yellow: #FFF28B;
$red: #f54b4b;
$white: #FFFFFF;
$off-white: rgb(173, 173, 173);

//Color schemes
$bg-color-primary: $navy;

$font-color-light: $white;

$link-color: $red;

$popout-color: $yellow;

//Sizes
$header-height: 50px;

$footer-height: 50px;

$rect-height: 250px;
$rect-width: 320px;

//Paddings
$side-page-padding: 200px;
